<nav>
  {% if session.role == 'red1' or session.role == 'red2' %}
  <div class="nav-wrapper red" style="padding-left: 0.75rem;">
  {% elif session.role == 'blue1' or session.role == 'blue2' %}
  <div class="nav-wrapper blue" style="padding-left: 0.75rem;">
  {% else %}
  <div class="nav-wrapper orange" style="padding-left: 0.75rem;">
  {% endif %}
    {% if session.role == 'admin'%}
    <a href="{{ url_for('index') }}" class="brand-logo center">Snake Sort</a>
    {% else %}
    <a href="#" class="brand-logo center">Snake Sort</a>
    {% endif %}
    <ul id="nav-mobile" class="left">
      <li><a href="{{ url_for('list_entry') }}">List Entries</a></li>
    {% if session.role == 'admin'%}
      <li><a href="{{ url_for('get_events') }}">Get Events</a></li>
      <li><a href="{{ url_for('manage_teams') }}">Manage Teams</a></li>
    {% endif %}
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href="{{ url_for('logout') }}">{{ session.username }}</a></li>
    </ul>
  </div>
</nav>